@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Quicksand:wght@500;700&family=Raleway:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

header ul{
    display: flex;
}

header li{
    margin: 0 20px;
}

header nav a{
    color: rgb(255, 250, 0);
    padding: 12px;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

header nav a:hover{
    background-color: rgb(255, 251, 0);
    border-radius: 4px;
    color: black;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#logo a{
    font-family: "Oleo Script", sans-serif;
    font-size: 50px;
    color: rgb(245, 243, 160);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 10px;
}

#destinations{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    padding: 0;
    justify-content: center;
}

#highlight{
    padding: 16px;
    background:linear-gradient(0deg, rgb(227,255,253), rgb(202,243,240));
}

#highlight h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: rgb(59, 65, 64);
    margin: 24px 0;
}

.destination img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(67, 67, 67);
}

.destination{
    margin: 0 20px;
}

.destination p{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px;
}








