@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Quicksand:wght@500;700&family=Raleway:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

header ul{
    display: flex;
}

header li{
    margin: 0 20px;
}

#logo a{
    font-family: "Oleo Script", sans-serif;
    font-size: 50px;
    color: rgb(245, 243, 160);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 10px;
}




